---
title: Atelje Pennan
body_class: index
---

%article
  %section#omoss
    %h1 PENNAN ÄR VÄSSAD.
    %p
      I en tid som präglas av att snacka först och tänka sedan har de välformulerade orden spelat ut sin roll. I de ständiga bildflödenas epok är det strunt samma hur du uttrycker dig. Huvudsaken att du babblar på konstant.

    %p 
      Eller? <br>
      Tänk om det i själva verket är precis tvärt om? <br>f
      Tänk om ett textklimat med slarvigt hopslängda statusuppdateringar innebär enorma möjligheter för den som tar ett steg tillbaka och putsar på språkdräkten? Tänk om ord som har valts med omsorg sticker ut? Kanske leder det välskrivna budskapet rent av till vad alla strävar efter när det gäller kommunikation: att mottagaren faktiskt lyssnar på det du vill ha sagt?

    %p
      Det är i alla fall vår övertygelse. 
      Ateljé Pennan är ett ordens förlovade land för varumärkesägare som tycker att texten är en alldeles för viktigt identitetsbärare för att låta vem som helst skriva copyn till den nya hemsidan. Som inte nöjer sig med mindre än att företagets externa texter ska mejslas ut av specialister som behärskar hantverket. 
      Ja, helt enkelt att de ska skrivas av någon som kan trolla fram en tydligt differentierad röst som tillhör ditt varumärke och inte lika gärna någon annan.

    %p Skriver du under på ovanstående? Då är du varmt välkommen att höra av dig till Ateljé Pennan.

  .imagebox
    = image_tag 'logo.svg', :class => 'logo', :alt => 'Logotyp'

  %section
    %h1 VI ANVÄNDER EN AV VÄRLDENS MEST AVANCERADE TEKNIKER: ALFABETET.

    %p
      Håll med om att det är fascinerande. Av alla de förbluffande uppfinningar mänskligheten har kommit på de senaste 5000 åren är det fortfarande en som sticker ut. Det är den mest förnyande och kreativa teknik som någonsin skapats – och samtidigt en av de enklaste: det skrivna ordet.

    %p
      Om det är något vi på Ateljé Pennan tror på här i världen så är det ordets makt. Därför kramar vi musten ur alfabetets 29 bokstäver och åtar oss uppdrag i alla möjliga genrer. Vi tar varje text på lika stort allvar och gör vårt yttersta för att skrädda fram de rätta argumenten.
  .imagebox
    = image_tag 'a.svg', :class => 'a', :alt => 'Symbol'

  %section#tjanster
    %h1 1. TONLÄGESUTVECKLING
    %p
      Hur gör man sin röst hörd i det ständigt pågående kommunikationstjattret? Ett hett tips är att inte låta som alla andra. Precis som den visuella identiteten, reflekterar det språkliga tonläget ditt varumärkes personlighet. Vi är experter på att hitta och definiera en röst som passar just er och skiljer varumärket från konkurrenterna.

    %h1 2. COPYTEXTER
    %p
      Snabbrörliga konsumentprodukter, infrastruktur, mode, livsmedel, läkemedel, samhällsinformation, banker, hälsa, design…Ateljé Pennans copywritrar är rutinerade slitvargar som har skrivit kommersiella texter för uppdragsgivare inom de flesta branscher över hela mediaspannet. Oavsett om du behöver en kampanj för en konsumentprodukt eller en produktkatalog för en komplex B2B-tjänst, kan vi hjälpa dig.

    %h1 3. WEBBCOPY
    %p
      Vi har lång erfarenhet av att skriva motiverande webbcopy på både svenska och engelska. Du kan alltid vara säker på att vi vaskar fram det som är relevant för användaren – och tillräckligt unikt för att snappas upp av sökmotorerna.

    %h1 4. REDAKTÖRSTJÄNST FÖR SOCIALA MEDIER
    %p Är du osäker på hur ditt företag ska uppträda i sociala medier? Då kan vi lugna dig med att du är långtifrån ensam och att hjälpen finns nära. Ateljé Pennan kan exempelvis lägga upp din företagssida och skapa en struktur för uppdateringar inom lämpliga intervaller. Har du ont om tid åtar vi oss gärna att formulera inläggen. 

    %h1 5. FÖRPACKNINGSTEXTER
    %p Butiksförpackningarnas begränsade yta ställer stora krav på ordvalet. Det tycker vi är kul. Ateljé Pennan har skrivit åtskilliga förpackningstexter genom åren. Främst på uppdrag av större varumärken inom livsmedelsindustrin men också för andra branscher.

    %h1 6. REDAKTIONELLA TEXTER
    %p Ateljé Pennans skribenter ligger bakom artiklar i allt från smala kundtidningar till reportage för större publikationer och branschbiblar inom bland annat livsstil, kultur, naturvetenskap, design samt mode. Vi skriver på svenska eller engelska beroende på var dina läsare finns. Självklart rör vi oss lika obehindrat online som i print.

    %h1 7. VARUMÄRKESFORMULERING
    %p De flesta anser att företagets varumärkesplattform är till för att användas i det dagliga kommunikationsarbetet. Ändå för många plattformar en tynande tillvaro i någon dammig pärm på kontoret. Vi vet inte säkert vad det beror på men misstänker att kärnvärdena kan vara så pliktskyldigt formulerade att de skulle kunna gälla vilket varumärke som helst. Ateljé Pennan blåser liv i din varumärkesplattform genom att välja bort generiska floskler till förmån för värden som differentierar ditt varumärke allvar.

    %h1 8. TAL OCH PRESENTATIONER
    %p Bli av Power point-ångesten för gott: låt Ateljé Pennan skriva företagets manus inför muntliga presentationer, för oss är det ett nöje. Utöver vår passion för det skrivna ordet är vi bland annat väl bevandrade i klassisk retorik och dramaturgi.

    %h1 9. MANUS
    %p Radio, Tv eller Internet spelar ingen roll. Spännande, roligt eller varför inte sorgligt? Vi skriver alla sorters kommersiella manus.

    %h1 10. CORPORATE STORYTELLING
    %p Alla företag bär på spännande berättelser som är ypperliga att använda i kommunikation – det gäller bara att hitta dem. Genom åren har Ateljé Pennan haft nöjet att leta fram överraskande, rörande, roliga, dramatiska och sympatiska historier och anekdoter hos olika företag. Vi har till och med fått förtroendet att rota i källararkiv, skåp och lådor. Där har vi påträffat fynd som vi sedan har förädlat till riktiga pärlor med hjälp av litterär gestaltning. Storytelling är ett bra verktyg att använda sig av för det som den klassiska retoriken kallar ”att väcka välvilja” både internt och externt.

    %h1 11. NAMNUTVECKLING
    %p Oavsett om det gäller en produkt, ett företag, en tjänst, eller ett varumärke, ökar ett bra namn konkurrenskraften. Vi hjälper dig att hitta det!

    %h1 12. SPÖKSKRIVERI
    %p Behöver du en text under eget namn men saknar tid och skrivrutiner? Vi åtar oss att författa olika typer av texter anonymt. Eftersom vår kapacitet är begränsad spökskriver vi bara längre bokmanus i mån av tid.

    %h1 13. TEXTER PÅ ENGELSKA
    %p Beställer du en engelska texter från Ateljé Pennan kan du förvänta dig alster i toppklass långt från direktöversättningarnas torftiga bakgård. Vår rutinerade skribent är bosatt i England, hänger med i den språkliga utvecklingen och har arbetat med några av världens mest prestigefyllda varumärken.

    %h1 14. KOMMUNIKATIONSKONCEPT
    %p Det brukar vara lättare hitta om man vet vilken väg man ska ta. Därför skapar Ateljé Pennan kreativa, långsiktiga kommunikationskoncept som definierar, ramar in och anger en tydlig riktning för företagets kommunikation – oavsett media. Syftet är naturligtvis att motivera dina kunder, men även att underlätta det löpande kommunikationsarbetet för dig och dina kollegor.

    %h1 15. INTERNATIONELLA UTBLICKAR
    %p Vår Londonbaserade medarbetare befinner sig ofta på resande fot i Europa och i andra delar av världen där hon bland annat bevakar nya fenomen inom branscher som detaljhandeln, mode, livsstil, mat, e-handel, design samt kultur. Ateljé Pennan har därför nöjet att kunna erbjuda såväl trendkonsultation som internationell research.
  .imagebox
    = image_tag 'a.svg', :class => 'a', :alt => 'Symbol'    

  %section#kontakt
    %h1 VI ÄLSKAR ORD.
    %p Vad är meningen med livet? För oss på Ateljé Pennan är svaret enkelt. Att skriva.

    %h1
      HANNA SCHALLINGER <br>
      GRUNDARE / COPYWRITER 
    %p Ateljé Pennans grundare Hanna Schallinger har varit verksam som copywriter och planner i över 15 år – både på olika reklambyråer i Stockholm och i egen verksamhet. I unga år förkovrade hon sig bland annat i litteraturvetenskap och klassisk retorik vid Uppsala universitet samt dramaturgi i Stockholm. Därefter utbildade hon sig på copy- respektive plannerlinjen på Berghs Scool of communication. Cancerfonden, AMF, Felix, Eton, Synsam, Fortum, Alfa Laval, Stockholm Vatten, Ekströms, SEB, NCC, E.ON, Infranord och Neova är exempel på spännande kunder som Hanna har haft glädjen att arbeta med genom åren.

    %p
      = link_to 'hanna@ateljpennan.se', 'mailto:hanna@ateljpennan.se'

    %h1
      EMMA HOLMQVIST DEACON <br>
      JOURNALIST / COPYWRITER
    %p Emma har en examen i kommunikation från Central Saint Martins i bagaget och har varit verksam som engelskspråkig journalist, copywriter och översättare i närmare 15 år. I kundkretsen finns bland annat OTW, Plaza, GDS International Trade Fair, Business Destinations och modebranschtidningen Sportswear International. Emmas inriktning är trendbetonad och hon skriver huvudsakligen om fenomen inom mode, design, kultur, detaljhandel och livsstil ur ett internationellt perspektiv. Hon har levt och arbetat i London sedan 1994 men reser ofta runt i Europa och andra delar av världen på olika branschevenemang.

    %p
      = link_to 'emma@ateljpennan.se', 'mailto:emma@ateljpennan.se'
  .imagebox
    = image_tag 'logo.svg', :class => 'logo', :alt => 'Logotyp'
